//BASE
@import 'base/variables';

//COMPONENTS
@import 'modules/nav';
@import 'modules/main';


//MAIN GENERAL STYLES
body, html {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: $mainFont;
  font-weight: $regular;
  color: $white;
  background: $seablueD;
  overflow: hidden;
  width: 100%;
}//body, html

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}
