//VARIABLES
/* L = Lighten , D = Darken */
$blueL : #00a8ff;
$blueD : #0097e6;
$purpleL : #9c88ff;
$purpleD : #8c7ae6;
$yellowL : #fbc531;
$yellowD : #e1b12c;
$greenL : #4cd137;
$greenD : #44bd32;
$seablueL : #487eb0;
$seablueD : #40739e;
$redL : #e84118;
$redD : #c23616;
$white : #fff;
$whiteL : #f5f6fa;
$whiteD : #dcdde1;
$grayL : #7f8fa6;
$grayD : #718093;
$navyL : #273c75;
$navyD : #192a56;
$dark : #1c1c1c;
$darkL : #353b48;
$darkD : #2f3640;
$black : #000;

//FONT
$mainFont : 'Lato', sans-serif;
//FONT WEIGHTS
$thin: 100;
$regular: 400;
$bold: 700;
